@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Regular.woff") format('woff');
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Bold.woff") format('woff');
    font-weight: bold;
}

html {
    font-family: 'Proxima Nova';
}

body {
    background-color: #f5f5f5;
}

p {
    margin: 0;
}

#usersearch {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 200;
    position: relative;
    top: 50px;
}

#searchbox {
    width: 35%;
    height: 20px;
    padding: 1%;
    background: transparent;
    border: 1px solid rgba(90, 90, 90, 0.2);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 100;
    text-align: center;
    position: relative;
    top: 50px;
}

input:focus {
    outline: none;
}

input {
    outline: none;
    border: none;
}

button:focus {
    outline: none;
}

h3 {
    font-weight: 100;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5em;
}

#searchbtn {
    padding: 0.5% 1%;
    margin: 1%;
    cursor: pointer;
    position: relative;
    top: 50px;
    background-color: #5a5a5a;
    color: white;
    font-family: 'Proxima Nova';
    font-weight: 100;
    border: none;
    border-radius: 5px;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

#searchbtn:hover{
    transform: scale(1.1);
}


/*Results Page*/

#canvas {
    display: flex;
    flex-direction: column;
    overflow: visible;
    z-index: 300;
}

.card {
    background-color: white;
    border: 1px solid #e2e2e2;
    margin: 1%;
    padding: 0.5%;
    box-shadow: 0px 4px 32px 0px rgba(221, 221, 221, 1);
    -webkit-box-shadow: 0px 4px 32px 0px rgba(221, 221, 221, 1);
    -moz-box-shadow: 0px 4px 32px 0px rgba(221, 221, 221, 1);
}

#row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#image {
    border-radius: 50%;
    border: 1px solid transparent;
    height: 200px;
    margin-left: 10px;
    margin-right: 20px;
}

#name {
    font-size: 2.5em;
}

#bio {
    font-size: 1em;
    color: #cfcfcf;
    font-weight: lighter;
    margin-bottom: 10px;
}

#location {
    font-size: 1.2em;
    color: #545454;
    margin-top: 5px;
}

#location>span {
    margin-left: 14px;
}

#date {
    font-size: 1.2em;
    color: #545454;
    margin-top: 5px;
}

#date>span {
    margin-left: 5px;
}

#blog {
    font-size: 1.2em;
    margin-top: 5px;
    color: #545454;
}

#blog>a {
    color: #36a2eb;
    margin-left: 5px;
}

#row2 {
    display: flex;
    flex-direction: column;
}

.label {
    color: white;
    padding: 0.5%;
    text-align: center;
}

#pop {
    background-color: #ff6384;
    width: 150px;
}

#lang {
    background-color: #36a2eb;
    width: 120px;
}

#event {
    background-color: #4bc0c0;
    width: 135px;
}

#row3 {
    display: flex;
    flex-direction: row;
}

#col1 {
    width: 35%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#col2 {
    height: 100%;
    width: 65%;
}

.activity {
    margin: 1%;
    padding-bottom: 0.5%;
    border-bottom: 1px solid #ddd;
}

.moment {
    float: right;
    color: #b8b8b8;
}

.activity>a {
    color: #4bc0c0;
    text-decoration: none;
}

.highlight {
    color: #ff6384;
}

.highlight2 {
    color: #36a2eb;
}

.small {
    color: #b8b8b8;
    margin-right: 5px;
}

#canvas {
    display: none;
}

#row0 {
    position: relative;
    top: 0;
    background-color: white;
}

#searcha {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#searchboxa {
    width: 200px;
}

#dp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#github {
    text-decoration: none;
    margin-top: 5px;
    color: rgba(75, 192, 192, 1);
    font-size: 1.3em;
}

#formwrap {
    display: flex;
    margin-top: 20%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#logo {
    height: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#logo2 {
    height: 50px;
    margin-top: 50px;
}
