$main: #5c75f6;
$bg-main: #24272e;
$bg-overlay: #1a1c21;
$border: #2e323b;
$placeholder: rgba(255,255,255,0.2);
$text1: rgba(255, 255, 255, 0.9);
$text2: rgba(255, 255, 255, 0.8);
$text3: rgba(255, 255, 255, 0.6);
$aside-head: rgba(255, 255, 255, 0.8);
$aside-text: rgba(255, 255, 255, 0.6);
$footer: rgba(255, 255, 255, 0.4);
$input-border: #2e323b;
$moon: "./assets/moon-dark.svg";
$toggle-bg : #2E323B;
$logo: "./assets/gitstalk-dark.svg";