$bg-main: #fff;
$main: #5c75f6;
$bg-overlay: #fdfdfd;
$border: #f7f7f7;
$placeholder: #bbb;
$text1: #333;
$text2: #666;
$text3: #ccc;
$aside-head: #888;
$aside-text: #555;
$footer: #aaa;
$input-border: #f1f1f1;
$moon: "./assets/moon-light.svg";
$toggle-bg : #EAEAEA;
$logo: "./assets/gitstalk.svg";
$error: 'Even our strongest octocat failed to find it. :(';
$error-image: './assets/error-light.png';
$blend-mode: normal;
